---
---
@import "consts";
@import "viewport";

body {
    margin: 0;
    box-sizing: border-box;
    font-size: 1.2em;
    min-height: 100vh;
    padding-top: $header-height;
}

.content {
    width: 80%;
    min-height: 100%;
    margin: 0 auto;
    margin-bottom: $footer-height;
}

.clearfix::after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

@import "colors";
@import "typography";
@import "header";
@import "nav";
@import "footer";
@import "people";
@import "papers";
@import "home";
