---
---
@import "consts";
@import "viewport";

div {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1.2em;
    padding-top: $header-height;
    position: relative;
}

.content {
    padding-top: 15px;
    position: relative;
    width: 80%;
    min-height: 100%;
    margin: 0 auto;
    //padding-bottom: 120px;
    h1 {
        margin-bottom: 0;
    }
}

.clearfix::after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

@import "colors";
@import "typography";
@import "header";
@import "nav";
@import "showcase";
@import "footer";
@import "people";
@import "projects";
@import "papers";
@import "home";
