.footer {
    background-color: $color-background-dark;
    padding: 20px 0px;
    text-align: center;
    color: $color-text-light;
    height: $footer-height;
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    width: 100%;
    font-size: .8em;
}
