.footer {
    background-color: $color-background-dark;
    padding: 20px 0px;
    text-align: center;
    color: $color-text-light;
    height: $footer-height;
    display: flex;
    flex-direction: column-reverse;
    position: fixed;
    margin-top: -50px;
    bottom: 0;
    width: 100vw;
}
