.person {
    width: 40%;
    padding-bottom: 120px;
    .picture {
        float:left;
        width: 25%;
    }
    .bio, .papers, .projects {
        float: right;
        width: 75%;
        padding: 0 20px;
        box-sizing: border-box;
    }
    p {
        margin: 0;
    }
    
    img {
        width: 100%;
        object-fit: cover;
    }
    h2 {
        font-size: 1.2em;
        margin: .2em 0;
    }
    .papers h3 {
        margin: 10px 0;
    }
    
    .social {
        padding-left: 10px;
        margin: 0;
        a {
            font-size: .9em;
            text-decoration: none;
            color: $color-text-link;
            transition: .8s;
            &:hover {
                color: darken($color-text-link, 15);
            }
        }
    }
    li {
        list-style: none;
    }
    ul {
        padding-left: 0;
    }
    
    @include tablet {
        width: 60%;
    }
    @include phone {
        width: 80%;
        .picture, .bio, .projects, .papers {
            float: none;
            margin: 0 auto;
        }

        .social {
            height: auto;
            text-align: center;
        }

        .picture {
            width: 50%;
            h2 {
                text-align: center;
            }
        }

        .projects {
            padding: 0 20px;
        }
    }
}
