.projects {
    h1 {
        margin-bottom: 0;
    }

    .contributors {
        font-size: .9em;
        margin-top: 5px;
    }

    .banner {
        margin: auto;
        display: block;   
    }

    h2 {
        margin: 0;
    }

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;
    }

    .description {
        width: 80%;
        margin: auto;
        padding-right: 200px;
        box-sizing: border-box;
        position: relative;
    }
    .links {
        position: absolute;
        right:0;
        top: 0;
    }

    @include phone {
        .links {
            position: relative;
        }
        .description {
            padding-right: 0;
        }
    }
}