.projects {    
    ul {
        padding: 0;
        display: flex;
    }
    li {
        list-style: none;
        text-align: center;
        padding: 10px;        
        p {
            margin-top: 0;
        }
    }
    img {
        width: 200px;
        height: 200px;
        object-fit: cover;
    }
    h2 {
        margin: 5px;
    }
    h6 {
        text-align: center;
    }
    a {
        text-decoration: none;
    }
    .mediaflex {
        justify-content: center;
    }
    .media {
        display: list-item;
    }
    .projectmedia {
        width: 400px;
        height: 400px;
    }
}
