---
title: People - Robot Learning Lab
layout: default
permalink: /index.html
---

<div class="content">
    <h1>Robot Learning Lab</h1>
    <div class='showcase'>
        <p>The Robot Learning Lab is home to a diverse and passionate community of undergraduate students, graduate students, and professors.</p>
        {% assign faculty = (site.people | where: "type", "Faculty") %}
        {% assign phd = (site.people | where: "type", "PhD Student") %}
        {% assign masters = (site.people | where: "type", "Masters Student") %}
        {% assign undergrads = (site.people | where: "type", "Undergraduate Collaborator") %}
        {% assign friends = (site.people | where: "type", "Collaborator") %}
        <ul>
            {% for person in faculty %}
            <li>
                    {% if person.personal_site != nil%}
                    <a href="{{person.personal_site}}">
                    {% else %}
                    <a href="{{person.url | replace: '/index.html', '' | prepend: site.baseurl}}">
                    {% endif %}
                        {% if person.picture != nil %}
                        <img src="{{person.picture | prepend: site.baseurl}}" alt="{{person.name}}">
                        {% else %}
                        <img src="{{"/assets/people/placeholder.png" | prepend: site.baseurl}}" alt="{{person.name}}">
                        {% endif %}
                <h3>{{person.name}}</h2>
                <p>{{person.type}}</p>
                </a>
            </li>
            {% endfor %}
            {% for person in phd %}
            <li>
                {% if person.personal_site != nil%}
                <a href="{{person.personal_site}}">
                {% else %}
                <a href="{{person.url | replace: '/index.html', '' | prepend: site.baseurl}}">
                {% endif %}
                    {% if person.picture != nil %}
                    <img src="{{person.picture | prepend: site.baseurl}}" alt="{{person.name}}">
                    {% else %}
                    <img src="{{"/assets/people/placeholder.png" | prepend: site.baseurl}}" alt="{{person.name}}">
                    {% endif %}
                <h3>{{person.name}}</h2>
                <p>{{person.type}}</p>
                </a>
            </li>
            {% endfor %}
            {% for person in masters %}
            <li>
                {% if person.personal_site != nil%}
                <a href="{{person.personal_site}}">
                {% else %}
                <a href="{{person.url | replace: '/index.html', '' | prepend: site.baseurl}}">
                {% endif %}
                    {% if person.picture != nil %}
                    <img src="{{person.picture | prepend: site.baseurl}}" alt="{{person.name}}">
                    {% else %}
                    <img src="{{"/assets/people/placeholder.png" | prepend: site.baseurl}}" alt="{{person.name}}">
                    {% endif %}
                <h3>{{person.name}}</h2>
                <p>{{person.type}}</p>
                </a>
            </li>
            {% endfor %}
            {% for person in friends %}
            <li>
                {% if person.personal_site != nil%}
                <a href="{{person.personal_site}}">
                {% else %}
                <a href="{{person.url | replace: '/index.html', '' | prepend: site.baseurl}}">
                {% endif %}
                    {% if person.picture != nil %}
                    <img src="{{person.picture | prepend: site.baseurl}}" alt="{{person.name}}">
                    {% else %}
                    <img src="{{"/assets/people/placeholder.png" | prepend: site.baseurl}}" alt="{{person.name}}">
                    {% endif %}
                <h3>{{person.name}}</h2>
                <p>{{person.type}}</p>
                </a>
            </li>
            {% endfor %}
            {% for person in undergrads %}
            <li>
                {% if person.personal_site != nil%}
                <a href="{{person.personal_site}}">
                {% else %}
                <a href="{{person.url | replace: '/index.html', '' | prepend: site.baseurl}}">
                {% endif %}
                    {% if person.picture != nil %}
                    <img src="{{person.picture | prepend: site.baseurl}}" alt="{{person.name}}">
                    {% else %}
                    <img src="{{"/assets/people/placeholder.png" | prepend: site.baseurl}}" alt="{{person.name}}">
                    {% endif %}
                <h3>{{person.name}}</h3>
                <p>{{person.type}}</p>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="content">
    <div class="papers">
        {% assign sorted = site.data.papers | sort %}
        {% for year in (sorted reversed) %}
        <h2>{{year[0]}}</h2>
        <ul class='paperlist'>
            {% for paper in year[1] %}
            <li class='paper'>
                <p>{{paper.authors}}</p>
                <h3>{{paper.title}}</h3>
                <p>{{paper.in}}</p>
                <ul class="links">
                    <li><a href="{{paper.bibtex | prepend: site.baseurl}}">bibtex</a></li>
                    <li>|</li>
                    {% for href in paper.links %}
                    <li>
                        <a href="{{href.url}}">{{href.name}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
        {% endfor %}
    </div>
</div>
