---
title: Projects - Robot Learning Lab
layout: default
permalink: /projects/index.html
---

<div class="content">
    <h1>{{page.title}}</h1>
    <p>At the Robot Learning Lab teams of students and researchers work together on a wide array of projects centering around advancing what is capable in robotics systems.</p>

    <div class="showcase"/>
        {% assign s = site.projects | sort:"term" %}
        {% assign sorted = s | sort:"year" | reverse %}

        <h2>Ongoing Projects</h2>
        <ul>
            {% for project in sorted %}
            {% if project.year=="Current"%}
            <li>           
                <a href="{{project.url | replace: '/index.html', '' | prepend: site.baseurl}}">
                    {% if project.picture %}
                    <img src="{{project.picture | prepend: site.baseurl}}"/>
                    {% else %}
                    <img src="{{"/assets/people/placeholder.png" | prepend: site.baseurl}}"/>
                    {% endif %}
                    <h3>{{project.title}}</h3>
                    <p>{{project.subtitle}}</p>
                </a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>

        <!--<h2>Past Projects</h2>
        <ul>
            {% for project in sorted %}
            {% unless project.year=="Current"%}
            <li>           
                <a href="{{project.url | replace: '/index.html', '' | prepend: site.baseurl}}">
                    {% if project.picture %}
                    <img src="{{project.picture | prepend: site.baseurl}}"/>
                    {% else %}
                    <img src="{{"/assets/people/placeholder.png" | prepend: site.baseurl}}"/>
                    {% endif %}
                    <h3>{{project.title}}</h3>
                    <p>{{project.subtitle}}</p>
                </a>
            </li>
            {% endunless %}
            {% endfor %}
        </ul>-->
    </div>
</div>