---
title: Projects - Robot Learning Lab
layout: default
permalink: /projects/index.html
---

<p>At the Robot Learning Lab teams of students work on a wide array of projects centering around improving our knowledge of robotics systems.</p>

<div class="projects"/>
    <ul>
        {% assign sorted = site.projects | sort:"date" | reverse %}
        {% for project in sorted %}
        <li>           
            <a href="{{project.url}}">
                {% if project.picture %}
                <img src="{{project.picture}}"/>
                {% else %}
                <img src="/assets/people/placeholder.png"/>
                {% endif %}
                <h2>{{project.name}}</h2>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
