---
title: Publications - Robot Learning Lab
layout: default
permalink: /publications/index.html
---
<div class="content">
    <h1>{{page.title}}</h1> 
    <div class="papers">
        {% for year in site.data.papers reversed %}
        <h2>{{year[0]}}</h2>
        <ul class='paperlist'>
            {% for paper in year[1] %}
            <li class='paper'>
                <p>{{paper.authors}}</p>
                <h3>{{paper.title}}</h3>
                <p>{{paper.in}}</p>
                <ul class="links">
                    <li><a href="{{paper.bibtex}}">bibtex</a></li>
                    <li>|</li>
                    {% for href in paper.links %}
                    <li>
                        <a href="{{href.url}}">{{href.name}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
        {% endfor %}
    </div>
</div>
